# Rust / Cargo
target/
Cargo.lock

# JavaScript / Node
node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/

# IDEs / Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Legacy / Junk
src/metadata_strings.txt
tests/*.sky

# OS generated
.DS_Store
.AppleDouble
.LSOverride
